 <div   class="row" style="position:relative;" >
<div class="hidden-xs" style="position:absolute; left:0px; right:0px; top: 300px; z-index:10; " > 
 
		<a ng-href="#!/products" ng-click="changeSection(1)"   > 
			<div class="mainPageBtn mainPageBtnLeft">
				<img src="imgs/design/btnRight.png" alt="">
				<span class="mainPageBtnText">для него</span> 
			</div>
		</a>

		<a ng-href="#!/products" ng-click="changeSection(2)" class="mainPageBtn mainPageBtnRight"  >
			 <div class="mainPageBtn mainPageBtnRight">
				<img src="imgs/design/btnLeft.png" alt=""> 
				<div class="mainPageBtnText">для нее</div> 
			 </div>	
		 </a>
	 
</div> 

<div class="visible-xs" style="position:absolute; left:0px; right:0px; top: 200px; z-index:10;   " > 
 
		<a ng-href="#!/products" ng-click="changeSection(1)"   > 
			<div class=" "   >
				<img src="imgs/design/btnRight2.png" style="width:40%;  float:right; " alt=""> 
			</div>
		</a>

		<a ng-href="#!/products" ng-click="changeSection(2)"    >
			 <div class=" ">
				<img src="imgs/design/btnLeft2.png"  style="width:40%; float:left;  " alt="">  
			 </div>	
		 </a>
	 
</div>

 <div class="  "    >
	<div class="col-xs-2 col-sm-3"  >&nbsp </div> 
	<div class=" col-xs-4 col-sm-3"  >
		 <a ng-href="#!/products" ng-click="changeSection(1)"   > <img width="100%" src="imgs/design/him.png" alt=""> </a>
	</div> 
	<div class=" col-xs-4 col-sm-3"  >
		<a ng-href="#!/products" ng-click="changeSection(2)"   ><img width="95%" src="imgs/design/his.png" alt=""></a>
	</div>  
</div>
 
 


	<br>
	<br><br>
	<br>
	 
		<div class=" " style="position:relative" >
			<img src="imgs/design/newImg.png" alt=""  width="100%" style="  " >
			<div style="position:relative; height:120px; margin-top:-120px" >
				<a ng-href="#!/lookbook" style=" width:50%; height:100%; float:left ;   " > </a>
				<a ng-href="#!/products" ng-click="changeSection('','','',1)"  style=" width:50%; height:100%; float:left;   "> </a>
			</div>
			
		</div>
	 

 </div>
 
